:root{
    --primaryColor:#FE6B02;
    --whiteColor:#FAFBFC;
    --darkBlueColor: #0E244B;
    --darkColor:#272C48;
    --lightColor:#7B91B0;
    --redColor:#ff0000;
    --borderColor:#C3D3E2;
    --disabled:gray;
    --lightFontColor:#FFFFFF80;
    --highlightColor:#425166;
    --profileBackground:#EFF3F7;
    --lightWhite:#EFF3F7;
    --fullWhite:#ffffff;
    --pending:#FFBB3826;
    --active:#22C55E2A;
    --inactive: #EF44441A;
    --activeStatus:#22C55E;
    --pendingStatus:#F0A519;
    --inactiveStatus:#EF4444;
    --highlight:#FE6B0214;





    .error{
        color: var(--redColor);
        font-weight: 400;
        font-size: 12px;
        text-align: left;
        word-wrap: break-word;
    }
}