@import url('../../assets/Styles/global.scss');

.changepassword-sidebar{
    background-color: var(--fullWhite);
    width: 20%;
    border-right: 1px solid #EFF3F7;
    border-radius:10px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    gap: 400px;
    .header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        h1{
            font-weight: 600;
            font-size: 24px;
            color: var(--darkBlueColor);
        }
        p{
            font-weight: 400;
            font-size: 16px;
            color: var(--lightColor);
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: space-around;
        
        .menu-items{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .menu{
                cursor: pointer;
                display: flex;
                align-items: center;
                width: 90%;
                padding: 10px;
                &.active{
                    border-radius: 7px;
                    background-color: var(--highlight);
                }
                img{
                    width: 30px;
                }
                a{
                    all: unset;
                    color: var(--lightColor);
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
    }
    .logout{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--redColor);
        font-weight: 600;
        font-size: 14px;
        border: none;
        background: none;
        width: 80px;
        cursor: pointer;
    }
    
}

.menu-toggle {
    display: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    img{
        width: 30px;
    }
  }
  
@media (max-width: 1024px) {
    .changepassword-sidebar {
      padding: 0 30px;
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      z-index: 1000;
      height: 98vh;
      box-shadow: 2px 0 5px rgba(0,0,0,0.2);
  
      &.open {
        transform: translateX(0);
      }
    }
  
    .menu-toggle {
      display: block;
      position: fixed;
      top: 25px;
      left: 90%;
      z-index: 1100;
      background-color: white;
      padding: 10px;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }
  }