@import url('../../assets/Styles/global.scss');

.changepassword-sidebar{
    background-color: var(--fullWhite);
    width: 23%;
    border-right: 1px solid #EFF3F7;
    border-radius:10px 0 0 10px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    gap: 400px;
    .header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        h1{
            font-weight: 600;
            font-size: 24px;
            color: var(--darkBlueColor);
        }
        p{
            font-weight: 400;
            font-size: 16px;
            color: var(--lightColor);
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: space-around;
        
        .menu-items{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .menu{
                cursor: pointer;
                display: flex;
                align-items: center;
                width: 90%;
                padding: 10px;
                &.active{
                    border-radius: 7px;
                    background-color: var(--highlight);
                }
                img{
                    width: 30px;
                }
                a{
                    all: unset;
                    color: var(--lightColor);
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
    }
    .logout{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--redColor);
        font-weight: 600;
        font-size: 14px;
        border: none;
        background: none;
        width: 80px;
        cursor: pointer;
    }
    
}