@import url('../../assets/Styles/global.scss');

.edit-profile{
    display: flex;
    margin: 20px 20px 20px 0;
    width:100%;
    height: 95vh;
    border-radius: 18px;
    background-color: var(--whiteColor);
    .edit-layout{
      width: 90%;
    }
    .edit-content{
        display: flex;
        width: 95%;
        flex-direction: column;
        justify-content: center;
        height: 70%;
        border-radius: 10px;
        margin: 20px 20px 20px 0;
        background-color:var(--fullWhite);
        box-shadow: 0px 4px 20px 0px #EEEEEE80;
        padding: 20px;
        .edit-bg{
            height: 35%;
            background-image: url('../../assets/images/banner-bg@2x.png');
            background-size: cover;
            position: relative;
            .profile{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                position: absolute;
                left: 42%;
                top:80px;
                .upload-img{
                  
                  img{
                    width: 120px;
                    cursor: pointer;
                  }
                }
                
                
            }
            
        }
        .edit-field{
            height: 65%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 140px;
            .edit-form{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .image-file{
                  display: none;
              }
                .row{
                    display: flex;
                    gap: 30px;
                    .fields{
                        width: 100%;
                    }
                    label{
                        font-weight: 500;
                        font-size: 12px;
                        color: var(--lightColor);
                    }
                    .field{
                        width:95% !important;
                        border-radius: 8px;
                        height: 35px;
                        outline: none;
                        padding-left: 10px;
                        border: 1px solid var(--borderColor);
                    }
                }
                .edit,.discard{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 13px;
                    border-radius: 10px;
                    color: var(--fullWhite);
                    font-weight: 600;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    background-color: var(--primaryColor);
                }
                .disabled{
                    display: none;
                }
                .discard{
                    font-weight: 500;
                    color: var(--lightColor);
                    background-color: var(--lightWhite);
                }
            }
        }
    }
}

@media (max-width:1024px){
    .edit-profile{
        justify-content: center;
        .edit-layout{
          height: 98vh;
        }
    }
}

@media (max-width: 768px) {
    .edit-profile {
      margin: 10px;
      height: auto;
  
      .edit-content {
        width: 95%;
        margin: 0;
        height: 90%;
        padding: 15px;
  
        .edit-bg {
          height: 200px;
  
          .profile {
            left: 50%;
            transform: translateX(-50%);
            top: 110px;
  
            img {
              width: 100px;
            }
          }
        }
  
        .edit-field {
          gap: 50px;
  
          .edit-form {
            gap: 15px;
  
            .row {
              flex-direction: column;
              gap: 15px;
  
              .field {
                width: 100% !important;
              }
            }
  
            .edit,
            .discard {
              width: 100%;
              padding: 10px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
