@import url('../assets/Styles/global.scss');

.mfa_setup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 400px;
    margin: auto;
        img{
            width: 30px;
            position: absolute;
            right: 24px;
        }
  
    h2 {
      padding-top: 20px;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: #2c3e50;
    }
  
    
    p {
      font-size: 0.95rem;
      text-align: center;
      margin: 1rem 0;
      color: #555;
    }
  
    input {
      width: 100%;
      padding: 0.75rem;
      font-size: 1rem;
      border-radius: 6px;
      border: 1px solid #ccc;
      margin-bottom: 1.5rem;
      outline: none;
      transition: border 0.2s ease;
  
      &:focus {
        border-color: var(--primaryColor);
      }
    }
  
    .mfa_buttons {
      width: 100%;
      display: flex;
      justify-content: center;
  
      .verify-btn,.discard-btn {
        background-color: var(--primaryColor);
        color: white;
        border: none;
        padding: 0.75rem 1.5rem;
        border-radius: 6px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.2s ease;
      }
      .discard-btn{
        background-color: var(--lightWhite);
        color: var(--lightColor);
      }
    }
  }
  

.signup_page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../assets/images/AuthTemplateImage.png');
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    .signup_content {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 50%;
        height: 100vh;        
        color: var(--whiteColor);
        h1{
            font-size: 48px;
            font-weight: 700;
            line-height: 61px;    
        }
        p{
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;    

        }
    }

    .signup_container {
        width: 40%;
        height: auto;
        background-color: var(--whiteColor);
        border-radius: 18px;
        margin:20px 0;
        padding: 70px 0;
        background-image: url('../assets/images/signup-illustration.svg');
        background-position: top right;
        background-repeat: no-repeat;
        
        .signup_sub-container{
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;
            height: 100%;
            
            .soltage{
                width: 150px;
            }
            h1{
                font-size: 28px;
                font-weight: 600;
                text-align: center;
                color: var(--darkBlueColor);
            }
            .content{
                width: 35vw;
                text-align: center;
                color: var(--lightColor);
                font-size: 14px;
            }
            
            .signup-btn{
                width: 32.8vw;
                height: 7.5vh;
                color: var(--whiteColor);
                background-color: var(--primaryColor);
                border: none;
                border-radius: 10px;
                font-weight: 600;
                cursor: pointer;
                &:disabled{
                    background-color: var(--disabled);
                }
            }
            .fields{
                display: flex;
                flex-direction: column;
                gap: 30px;
                
                .form-group{
                    width: 100%;
                    .names{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        gap:20px;
                        .field{
                            width: 100%;
                        }
                    }
                    label{
                     color:var(--lightColor) ;
                     font-size: 14px;
                    }
                }
                .firstname,.lastname,.department,.confirmpassword,.email,.password{
                    width: 98%;
                    height:50px;
                    border: 1px solid var(--borderColor);
                    border-radius: 10px;
                    outline: none;
                    padding-left: 10px;
                    display: flex;
                    justify-content: center;
                }
                
                
                .forgot-password{
                    
                    .fg{
                        text-align: right   ;
                    }
                }
            }
            
        }
    }
}
@media (max-width :424px){
    .signup_page{
        
        .signup_container{
            height: auto;
            padding: 20px 0;
            
            .signup_sub-container{
                h1{
                    text-align: center;
                }
                .fields{
                    gap: 20px;
                }
                .forgot-password{
                    margin-right:   40px;
                    .fg{
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media (max-width:950px) {
    .signup_page{
        justify-content: center;
        align-items: center;
        .signup_content{
            display: none;
        }
        .signup_container{
            width: 90%;
            .signup_sub-container{
                .content{
                    width: 100%;
                }
                .fields{
                    .firstname,.lastname,.confirmpassword,.department,.email,.password{
                        width: 100%;
                        font-size: 18px;
                    }
                    .signup-btn{
                        width: 100%;
                        font-size: 18px;
                    } 
                }
                .forgot-password{
                    margin-right:   30px;
                    .fg{
                        text-align: center;
                    }
                }
                
                
            }
        }
    }
}

@media (max-width:1500px){
    .signup_page{
        flex-direction: column;
        justify-content:center ;
        gap: 30px;
        .signup_content{
            display: none;
            width: 100%;
            text-align: center;
            p{
                display: none;
            }
            
        }
        .signup_container{
            padding: 20px;
            .signup_sub-container{
                .fields{
                    .signup-btn{
                        width: 100%;
                    }
                }
            }
        }
    }
}