@import url('../assets/Styles/global.scss');

.mfa-dialog {
    img{
        width: 30px;
        position: absolute;
        right: 24px;
       
    }
    h1{
        padding-top: 20px;
    }
    h1,p{
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        color: var(--darkBlueColor);
    }
    p{
        width: 500px;
        font-weight: 400;
        font-size: 14px;
        color: var(--highlightColor);
    }
    
    
    .MuiDialog-paper {
      padding: 24px;
      border-radius: 12px;
      background-color: var(--fullWhite);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }
  
    .MuiDialogTitle-root {
      font-size: 20px;
      font-weight: 600;
      color: #333;
      padding-bottom: 8px;
    }
  
    .MuiDialogContent-root {
      display: flex;
      flex-direction: column;
      gap: 5px;
      label{
        font-weight: 500;
        font-size: 12px;
        color: var(--lightColor);
      }
  
      input[name='MFA'] {
        padding: 10px 12px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 6px;
        outline: none;
        transition: border-color 0.3s;
  
        &:focus {
          border-color: var(--primaryColor);
        }
      }
    }
  
    .MuiDialogActions-root {
      justify-content: flex-end;
      padding-top: 16px;
  
      .verify,.discard {
        padding: 10px 24px;
        background-color: var(--primaryColor);
        color: var(--fullWhite);
        border: none;
        border-radius: 6px;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
            background-color:var(--primaryColor);
          }
      }
      .discard{
        background-color: var(--lightWhite);
        color: var(--lightColor);
        &:hover {
            background-color:var(--lightWhite);
        }
      }
    }
  }
  

.login_page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../assets/images/AuthTemplateImage.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    .login_content {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 50%;
        height: 80%;        
        color: var(--whiteColor);
        h1{
            font-size: 48px;
            font-weight: 700;
            line-height: 61px;    
        }
        p{
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;    

        }
    }

    .login_container {
        width: 40%;
        height: auto;
        background-color: var(--whiteColor);
        border-radius: 18px;
        padding: 70px 0;
        background-image: url('../assets/images/signup-illustration.svg');
        background-position: top right;
        background-repeat: no-repeat;
        position: relative;
        .loader{
            position: absolute;
            top: 50%;
            left: 50%;
            background: transparent;
        }
        .login_sub-container{
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: center;
            height: 100%;
            
            .soltage{
                width: 150px;
            }
            h1{
                font-size: 28px;
                font-weight: 600;
                text-align: center;
                color: var(--darkBlueColor);
            }
            .content{
                width: 35vw;
                text-align: center;
                color: var(--lightColor);
                font-size: 14px;
            }
            .signin-btn{
                width: 32.8vw;
                height: 7.5vh;
                color: var(--whiteColor);
                background-color: var(--primaryColor);
                border: none;
                border-radius: 10px;
                font-weight: 600;
                cursor: pointer;
                &:disabled{
                    background-color: var(--disabled);
                }
            }
            .fields{
                display: flex;
                flex-direction: column;
                gap: 30px;
                .form-group{
                    label{
                     color:var(--lightColor) ;
                    }
                }
                .email,.password{
                    width: 100%;
                    height: 6.5vh;
                    border: 1px solid var(--borderColor);
                    border-radius: 10px;
                    outline: none;
                    padding-left: 10px;
                    display: flex;
                    justify-content: center;
                }
                
                .forgot-password{
                    
                    .fg{
                        text-align: right   ;
                    }
                }
            }
            
        }
    }
}
@media (max-width :424px){
    .login_page{
        
        .login_container{
            height: auto;
            padding: 20px 0;
            
            .login_sub-container{
                h1{
                    text-align: center;
                }
                .fields{
                    gap: 20px;
                }
                .forgot-password{
                    margin-right:   40px;
                    .fg{
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media (max-width:950px) {
    .login_page{
        justify-content: center;
        align-items: center;
        .login_content{
            display: none;
        }
        .login_container{
            width: 90%;
            .login_sub-container{
                .content{
                    width: 100%;
                }
                .fields{
                    .email,.password{
                        width: 70vw;
                        font-size: 18px;
                    } 
                }
                .forgot-password{
                    margin-right:   30px;
                    .fg{
                        text-align: center;
                    }
                }
                .signin-btn{
                    width: 72vw;
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width:1500px){
    .login_page{
        flex-direction: column;
        justify-content:center ;
        gap: 30px;
        .login_content{
            display: none;
            width: 100%;
            text-align: center;
            p{
                display: none;
            }
        }
        .login_container{
            padding: 20px;
            
        }
    }
}