@import url('../assets/Styles/global.scss'); 

.input-container{
  .input-wrapper{
    display: flex;
    position: relative;
  }
  .toggle-icon {
    position: absolute;
    left: 92%;
    top: 13px;
    cursor: pointer;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



    