@import url('../assets/Styles/global.scss'); 

.icon{
  width: 30px;
}
.input-container{
  .input-wrapper{
    display: flex;
    position: relative;
  }
  .toggle-icon {
    position: absolute;
    left: 92%;
    top: 13px;
    cursor: pointer;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    .eye-icon{
      width: 30px;
    }
  }
}

@media(max-width:768px){
  .input-container{
    .toggle-icon{
      left: 85%;
    }
  }
}



    