@import url('../../assets/Styles/global.scss');

.MuiDialog-root{
    border-radius: 20px;
}
    ::-webkit-scrollbar {
    width: 8px;
    }

    ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
    background: var(--disabled);
    border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
    background: #999;
    }
.createuser-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--whiteColor);
    height: auto;
    padding: 25px;
    border-radius: 20px !important;
    gap: 15px;
    .close-icon{
        position: relative;
        left: 48%;
        cursor: pointer;
    }
    .profile-placeholder{
        cursor: pointer;
        width: 100px;
        
    }
    
    h1{
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        color: var(--darkBlueColor);
    }
    p{
        text-align: center;
        font-weight: 400;
        font-size: 14px;
    }
    .profileimage{
        display: flex;
        justify-content: center;
        background-color: var(--profileBackground);
        padding: 10px;
        border-radius: 14px;
        img{
            width: 84px;
        }
    }
    .form-fields{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .names{
            display: flex;
            gap: 10px;
            .form-group{
                width: 100%;
                .firstname,.lastname{
                    width: 95%;
                    height: 5.5vh;
                    border: 1px solid var(--borderColor);
                    border-radius: 10px;
                    outline: none;
                    padding-left: 10px;
                    color: var(--lightColor);
                }
                label{
                    font-weight: 500;
                    font-size: 12px;
                    color: var(--lightColor);
                }
            }
        }
        .centerfield{
            display: flex;
            justify-content: center;
            .form-group{
                width: 100%;
                .email{
                    width: 95%;
                    height: 5.5vh;
                    border: 1px solid var(--borderColor);
                    border-radius: 10px;
                    outline: none;
                    padding-left: 10px;
                    color: var(--lightColor);
                }
                label{
                    font-weight: 500;
                    font-size: 12px;
                    color: var(--lightColor);
                }
            }
        }
        .profile-details{
            display: flex;
            gap: 10px;
            .form-group{
                width: 100%;
                .phone,.department{
                    width: 95%;
                    height: 5.5vh;
                    border: 1px solid var(--borderColor);
                    border-radius: 10px;
                    outline: none;
                    padding-left: 10px;
                    color: var(--lightColor);
                }
                .department{
                    font-weight: 600;
                }
                label{
                    font-weight: 500;
                    font-size: 12px;
                    color: var(--lightColor);
                }
            }

        }
        .buttons{
            display: flex;
            gap: 15px;
        
            .discard,.create{
                padding: 15px 25px;
                border:none;
                border-radius: 10px;
                cursor: pointer;
                background-color: var(--primaryColor);
                font-weight: 600;
                font-size: 16px;
                color: var(--whiteColor);
            }
            .discard{
                background-color: var(--lightWhite);
                font-weight: 500;
                color: var(--lightColor);
            }
        }
    }
}

.user-management{
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 0;
    width:93%;
    border-radius: 18px;
    gap: 10px;
    background-color: var(--whiteColor);
    .user-header{
        width: 95%;
        display: flex;
        justify-content: space-between;
        padding: 25px 25px 0 25px;
        h1{
            font-size: 24px;
            font-weight: 600;
            color: var(--darkBlueColor);
        }
        p{
            color: var(--lightColor);
            font-size: 16px;
            font-weight:400;
            span{
                color: var(--highlightColor);
            }
        }
        .create-btn{
            padding: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 10px;
            font-weight: 600;
            font-size: 16px;
            color: var(--whiteColor);
            background-color: var(--primaryColor);
        }
    }
    .users-table{
        background-color:var(--fullWhite);
        margin: 20px;
        border-radius: 16px;
        height: 100%;
        padding: 10px;
        box-shadow: 0px 4px 20px 0px #EEEEEE80;

        .filter-container {
            padding: 1rem;
            border-radius: 0.5rem;
            background-color: var(--fullWhite);
            box-shadow: 0px 3px 20px 2px #0000000F;
            max-width: 300px;
            position: fixed;
            left:77%;
            top:30%;
            z-index: 1000;
            
            h3 {
              margin-bottom: 1rem;
              font-size: 1.25rem;
              font-weight: 600;
              color: #333;
              padding-bottom: 10px;
              border-bottom: 3px solid var(--lightWhite);
            }
          
            .filter-fields {
              display: flex;
              gap: 1rem;
              justify-content: space-between;
                width: 100%;
              .form-group {
                width: 50%;
                display: flex;
                flex-direction: column;
          
                label {
                  font-size: 12px;
                  font-weight: 500;
                  color:var(--lightColor);
                }
          
                select {
                  padding: 0.5rem;
                  border: 1px solid #ccc;
                  border-radius: 0.375rem;
                  font-size: 0.95rem;
                  background-color: #f9f9f9;
                  outline: none;
                  transition: border-color 0.2s ease;
          
                  &:focus {
                    border-color: var(--primaryColor);
                  }
                }
              }
            }
          
            .filter-buttons {
              margin-top: 1.5rem;
              display: flex;
              justify-content: flex-end;
              gap: 15px;
                width: 100%;
              .reset,
              .apply {
                width: 25%;
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 0.375rem;
                font-size: 0.9rem;
                cursor: pointer;
              }
          
              .reset {
                background-color: #f0f0f0;
                color: #333;
          
                &:hover {
                  background-color: #e0e0e0;
                }
              }
          
              .apply {
                background-color: var(--primaryColor);
                color: #fff;
          
                &:hover {
                  background-color: var(--primaryColor);
                }
              }
            }
          }
          

        .pagination {
            margin: 20px 0 10px 0 ;
            display: flex !important;
            justify-content:space-around;
            gap: 600px;
            .rows-per-page{
                label{
                    font-weight: 500;
                    font-size: 14px;
                    color: var(--lightColor);
                }
                select{
                    border: 1px solid var(--borderColor);
                    border-radius: 8px;
                    outline: none;
                    width: 100px;
                    height: 40px;
                    padding: 10px;
                }
            }
            .pagination-buttons{
                display: flex;
                align-items: center;
                gap: 15px;
                .nav-btn{
                    border: none;
                    background: none;
                    cursor: pointer;
                }
                p,span{
                    color: var(--dakColor);
                    font-weight: 500;
                    font-size: 14px;
                }
                span{
                    color: var(--primaryColor);
                    
                }
            }
          }
        .searchFilter{
            display: flex;
            justify-content: space-between;
            padding: 20px;
            .search-input{
                display: flex;
                align-items: center;
                
                .search{
                    border: 1px solid var(--borderColor);
                    border-radius: 8px;
                    padding:11.5px 15px 11.5px 50px;
                    font-weight :400;
                    font-size: 14px;
                    outline: none;
                }
                img{
                    position: relative;
                    right: 88%;
                }
            }
            .filter{
                padding: 10px 20px;
                color: var(--lightColor);
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                font-size: 14px;
                border: none;
                cursor: pointer;
                border-radius: 8px;
            }
            
        }
    }
    .allUsers{
        display: flex;
        flex-direction: column;
        height: 60vh;
        scrollbar-width: thin;
        ::-webkit-scrollbar-thumb {
            background: var(--whiteColor);
            border-radius: 10px;
          }
        
        .table-head{
            .table-header-cell{
                font-weight: 500;
                font-size: 14px;
                font-family: "poppins",serif;
                color: var(--lightColor);
            }
        }
        .table-body{
            .loader{
                position: absolute;
                top: 57%;
                left: 58%;
                background: transparent;
            }
        }
        
        .table-cell{
            font-weight: 500;
            font-size: 14px;
            color: var(--highlightColor);
            font-family: 'poppins',serif;
            .hidden{
                display: none;
            }            
            .pending,.active,.inactive{
                display: flex;
                background-color:var(--pending);
                justify-content: center;
                align-items: center;
                gap: 5px;
                width: 80px;
                height: 25px;
                padding: 5px;
                border-radius: 7px;
                color: var(--pendingStatus);
                text-transform: capitalize;
                .statusDot{
                    background-color:var(--pendingStatus);
                    width:6px;
                    height: 6px;
                    border-radius: 50%;
                }
                
                
            }
            .active{
                background-color: var(--active);
                color: var(--activeStatus);
                .statusDot{
                    background-color:var(--activeStatus);
                }
            }
            .inactive{
                background-color: var(--inactive);
                color: var(--inactiveStatus);
                .statusDot{
                    background-color: var(--inactiveStatus);
                }
            }
            
            
        }
        img{
            cursor: pointer;
        }
        
    }
}


@media (max-width : 1300px){
    .user-management{
        width: 85%;
        .users-table{
            .searchFilter{
                padding: 0;
            }
        }
        .allUsers{
            height: 70vh;
        }
    }
}
@media (max-width:513px){
    .user-management{
        .users-header{
            gap: 0  ;
            .create-btn{
                padding: 0;
            }
        }
    }
}
